
/*containers*/

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*
 * Botões
 */

.btn{
    
    border-color: #2AABE5;
    background-color: #2AABE5;
    color: white;
}
.btn:hover{
    color: #2AABE5;
    background-color: white;
}



/*
 * Topo da pagina
 */


#app{
    margin-top:40px;
}

#app > .text-center > h4{
    width: 42%;
    margin: 0 auto;
    font-size: 22px;
}




/*
 * Texto de ver modelo e de fechar pop-up do modelo 
 */

.see-more > h6 {
    font-size: inherit;
}

#close{
    padding-right: 15px;
}

.see-more, #close{
    color: #2AABE5;
    cursor: pointer;
    font-size: 22px;
}


/*
 * Card com tabela de modelo e botão de baixar modelo
 */


.see-less{
    padding-top: 4px;
    border: solid 1.5px #2AABE5;
    margin-top: 30px;    
    background-color: #f2f2f2;
}

.see-less h3{
    margin-bottom: 0px;
}

.see-less .card-body{
    padding: 0px 45px 30px 45px;
}





/*
 * Upload div style
 */

#main .card{
    border-style: dashed;
    background-color: #f2f2f2;
    border: 4px #2AABE5 dashed;
} 

#btnAddFile{
    font-size: large;
}



/*
 *Imagens
 */

.uploadIMG{
    width:160px;
    margin-bottom: 15px;
}
.logo{
    width: 330px;
    margin-bottom: 15px;
}


/*estilização da tabela, removendo bordas do redor dos td's e colocando borda com ícone do excel*/


.table-top{
    background-color: forestgreen;
    padding-top:5px;
    padding-bottom:5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#div-table{
    border: forestgreen 2.5px solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
}

table{
    width:100%;
}

td{
    border: black solid 1px;
}

tr>td:first-child{
    border-left:none
}

tr:last-child>td{
    border-bottom: none;
}

tr>td:last-child{
    border-right: none;
}

tr:first-child>td{
    border-top-color: forestgreen;
}

/*ícone de excel fica branco*/

.fa-file-excel{
    color:white;
}



/*
 * media queries 
 */

 @media (max-width: 966px) 
{
    #app > .text-center > h4{
        width: 55%;
    }
}

@media (max-width: 792px) 
{
    #app > .text-center > h4{
        width: 65%;
    }
}

@media (max-width: 669px){
    #app > .text-center > h4{
        width: 80%;
        font-size: 18px;
    }

    
    .see-more{
        font-size: 18px;
    }
}

@media (max-width: 446px){
    #app > .text-center > h4{
        font-size: 16px;
    }
    
    .see-more{
        font-size: 16px;
    }
}

@media (max-width: 412px) 
{
    form > h3{
        font-size: x-large;
    }
    #app > .text-center > h4{
        font-size: 14px;
    }

    
    .see-more{
        font-size: 14px;
    }

    
    #btnAddFile{
        font-size: medium;
    }
}

@media (max-width: 365px){

    form > h3 {
        font-size: 22px;
    }

    
    #app > .text-center > h4{
        font-size: 12px;
    }

    .see-more{
        font-size: 12px;
    }

    #btnAddFile{
        font-size: small;
    }
}


@media (max-width: 341px){

    form > h3 {
        font-size: 20px;
    }

    .see-less > .card-body > h3 {
        font-size: x-large;
    }

    td{
        font-size: medium;
    }
}